#add-account-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}
.add-account-main-container {
    padding: 1rem;
    width: 30rem;
    min-height: 30rem;
    background-color: hsl(0, 0%, 10%);
}
.add-account-header-div {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#add-account-cancel-btn {
    background: none;
    border: none;
    color: grey;
}
#add-account-save-btn {
    background: none;
    border: none;
    color: var(--orange);
}
.account-name-div {
    display: flex;
    flex-direction: column;
}
.bank-input {
    background-color: hsl(0, 0%, 20%);
    border: none;
    height: 2rem;
    border-bottom: .5px solid hsl(0, 0%, 40%);
    color: white;
    padding: .2rem;
}
.bank-input:focus {
    outline: none;
}

.starting-balance-div {
    display: flex;
    flex-direction: row;
}
.starting-balance-input {
    background-color: black;
    padding: .2rem;
    height: 1.8rem;
    width: 50%;
    border: none;
    border-right: .5px solid hsl(0, 0%, 40%);
    color: white;
}
.starting-balance-input:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





#space-div {
    height: 2rem;
    background-color: hsl(0, 0%, 10%);
}
.account-assign-div {
    display: flex;
    flex-direction: column;
}
#select-account-type {
    border: none;
    width: 40%;
    height: 2rem;
    background-color: hsl(0, 0%, 20%);
    color: white;
    margin-top: .2rem
}

