.display-container {
    background-color: hsl(0, 0%, 10%)
}
.nav-header-container {
    display: flex;
    flex-direction: row;
    padding: 0 .5rem;
    margin-top: .5rem;
    gap: 2px;
}
.nonActiveTab {
    border-radius: .3rem;
    width: 30%;
    height: 1.5rem;
    padding-left: .5rem;
    color: hsl(0, 0%, 60%);
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.activeTab {
    border-radius: .3rem;
    width: 30%;
    height: 1.5rem;
    padding-left: .5rem;
    color: hsl(0, 0%, 90%);
    align-items: center;
    background-color: var(--hover-orange);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.graph-section {
    padding: 0 .5rem;
    position: relative;
}
#graph {
    min-height: 13rem;
    margin: .5rem 0 1rem 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}
#graph p {
    margin: 0;
}
.expenses-tab-container {
    border-bottom: .5px solid hsl(0,0%, 20%);
    height: 1.5rem;
    display: flex;
    padding: .5rem 0 .5rem .5rem;
    gap: .5rem;
    background-color: black;
}
.expenses-tab-container button {
    border-radius: .8rem;
    border: none;
    color: hsl(0, 0%, 40%);
}
.transactions-cards-container {
    background-color: black;
}
/* Target all swiper bullets */
.swiper-pagination-bullet {
    background: hsl(0, 0%, 40%) !important;       /* override default blue */
    width: 8px !important;
    height: 8px !important;
    opacity: 1 !important;            /* needed to fully show custom color */
  }
  
  /* Style active bullet */
  .swiper-pagination-bullet-active {
    background: white !important;
  }
  .swiper-pagination {
    position: absolute !important;
    bottom: -.1rem !important;
  }