.home-section {
 padding-top: 10rem;
}
.main-container {
    border: 1px solid grey;
    width: 40rem;
    margin: 0 auto;
}

.dashboard-header-div {
    border: 2px solid lime;
    padding-left: 1rem;
    width: 90%;
    border: none;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.balance-header-add-btn {
    background: none;
    color: var(--orange);
    border: none;
    font-size: 1rem;
}
.balance-header-add-btn:hover {
    background: none;
    color: var(--hover-orange);
    text-decoration: underline;
}

.navbar-container{ 
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
}

.active {
    color: var(--orange);
    cursor: pointer;
}
.navbar-title {
    cursor: pointer;
}
.navbar-title:hover {
    cursor: pointer;
    color: hsl(0, 0%, 50%);
}