
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.intro-div {
    width: 26rem;
    margin: 0 auto;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
}
.intro-div h1 {
    font-size: 2rem;
}
.card-container {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;

}
.card {
    border: 1px solid gray;
    border-radius: 4px;
    width: 14rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.dot-container {
    height: 3rem;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active {
    background-color: var(--orange);
    display: inline-block;
}
.get-started-div {
    padding-top: 2rem;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-new-account-btn {
    height: 2rem;
    width: 14rem;
    background-color: var(--orange);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}
.create-new-account-btn:hover {
    background-color: var(--hover-orange);
  }

  .login-text-div {
    padding-top: 1rem;
    width: 20rem;
    margin: 0 auto;
    text-align: center;
  }
  .login-text-div p {
 font-size: .9rem;
 color: grey;
  }
  .login-text {
    color: white;
    cursor: pointer;
  }
  .login-text:hover {
    color: grey;
    cursor: pointer;
  }
  .sign-in-header-text {
    text-align: center;
  }